fieldset {
    margin-bottom: 10px;
}

#purge-settings .field {
    margin: 10px 0;
    width: 95%;
}

#purge-settings .field label {
    margin-right: 8px;
    width: 100%;
}

#purge-settings .field .control {
    display: inline-block;
    margin-left: 15px;
    width: 100%;
}

#purge-settings .field .control input[type=radio] {
    margin-right: 10px;
}